@import 'src/styles.scss';

.body-container {
    height: calc(100vh - 110px - 2rem);
    padding: 1rem 1rem;
    overflow-y: overlay;
}

.search-add-container {
    margin: 1rem;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(1280px + 4rem);
}

/* Media query for smaller screens */
@media screen and (max-width: 1390px) {
    .projects-container {
        width: calc(640px + 2rem);
    }
  }

.project-card {
    margin: 1rem;
}

.center-div {
    display: flex;
    justify-content: center;
}