<div [id]="'project-item-' + project.id" class="flip-card project-item">
    <!-- front part of the card -->
    <div class="flip-front">
        <h2>{{project.name}}</h2>
        <div class="project-item-content">
            <div>
                <p>{{project.team.name}}</p>
                <p>{{project.businessLine.name}}</p>
            </div>
            <img src="./assets/img/temp-xrl-graph.png">
            <div>
                <p>{{project.getLastAssesment()?.tag ?? ""}}</p>
                <p>{{project.formatDate(project.getLastAssesment()?.date)}}</p>
            </div>
        </div>
        <div class="project-details project-hover-buttons">
            <button mat-raised-button (click)="flipCard()">{{"PROJECTS.DETAILS" | translate}}</button>
        </div>
        <div class="project-actions-buttons project-hover-buttons">
            <mat-icon (click)="openUpdateDialog()">edit</mat-icon>
            <mat-icon (click)="openDeleteDialog()">delete</mat-icon>
        </div>
    </div>

    <!-- back part of the card (with project description) -->
    <div class="flip-back project-description">
        <h2>{{project.name}}</h2>
        <div class="project-item-back">
            <p>{{getDescription()}}</p>
        </div>
        <div class="project-details project-hover-buttons">
            <button mat-raised-button (click)="flipCard()">{{"PROJECTS.BACK" | translate}}</button>
        </div>
        <div class="project-actions-buttons project-hover-buttons">
            <mat-icon (click)="openUpdateDialog()">edit</mat-icon>
            <mat-icon (click)="openDeleteDialog()">delete</mat-icon>
        </div>
    </div>

    <!-- flip front content invisible but display on the screen to auto fit the height of the component -->
    <div class="invisible">
        <h2>{{project.name}}</h2>
        <div class="project-item-content">
            <div>
                <p>{{project.team.name}}</p>
                <p>{{project.businessLine.name}}</p>
            </div>
            <img src="./assets/img/temp-xrl-graph.png">
            <div>
                <p>{{project.getLastAssesment()?.tag ?? ""}}</p>
                <p>{{project.getLastAssesment()?.date ?? ""}}</p>
            </div>
        </div>
    </div>
</div>
