<div class="add-update-businessline-dialog-container">
  <h1 mat-dialog-title>{{ getDialogTitle() }}</h1>
  <div id="content" mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ "BUSINESSLINE.NAME" | translate }}</mat-label>
      <input
        id="businessLineName-input"
        matInput
        [formControl]="formControlBusinessLineName"
        autocomplete="off"
      />
      <mat-error
        id="businessLineName-mat-error"
        *ngIf="formControlBusinessLineName.invalid"
        >{{ getNameErrorMessage() }}</mat-error
      >
    </mat-form-field>
  </div>
  <div id="buttons" mat-dialog-actions>
    <button
      id="close"
      mat-button
      [mat-dialog-close]
      mat-raised-button
      color="warn"
    >
      {{ "ACTION.CANCEL" | translate }}
    </button>
    <button
      id="confirm"
      mat-button
      (click)="saveBusinessLine()"
      [disabled]="formControlBusinessLineName.invalid"
      mat-raised-button
      color="primary"
    >
      {{ "ACTION.CREATE" | translate }}
    </button>
  </div>
</div>
