mat-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.delete-content {
    background-color: white;
    padding: 8px 32px;
    border-radius: 8px;
}

.delete-content p {
    margin: 0;
    padding: 0;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

mat-dialog-actions {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}