<mat-dialog-content>
  <h2 mat-dialog-title>{{data.title | translate}}</h2>
  <div class="delete-content">
    <p>{{data.content}}</p>
  </div>
  <p class="warning-message">{{data.warning}}</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button id="close" mat-raised-button color="warn" [mat-dialog-close]="false">{{'ACTION.CANCEL' | translate}}</button>
  <button id="confirm" mat-raised-button color="primary" [mat-dialog-close]="true">{{'ACTION.DELETE' | translate}}</button>
</mat-dialog-actions>