.body-container {
    height: calc(100vh - 150px - 2rem);
    padding: 1rem 1rem;
    overflow-y: overlay;
}

.search-add-container {
    margin: 1rem;
}

.business-lines-container {
    display: flex;
    flex-wrap: wrap;
}

.business-line-card {
    padding: 1rem;
    flex: auto;
    box-sizing: border-box;
    min-width: 50%;
    max-width: 50%;
}

@media screen and (max-width: 850px) {
    .business-line-card {
      min-width: 100%;
      max-width: 100%;
    }
  }