.body-container {
    height: calc(100vh - 150px - 2rem);
    padding: 1rem 1rem;
    overflow-y: overlay;
}

.search-add-container {
    margin: 1rem;
}

.business-lines-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.business-line-card {
    margin: 1rem;
    flex: auto;
    max-width: 45%;
    min-width: 30rem;
}