.menu-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.language-span {
    font-size: 20px;
    vertical-align: middle;
}

#language-button {
    padding: 0;
    margin: 5px;
}

#language-button img {
    width: 80%;
    height: 80%;
    vertical-align: middle;
}