.body-container {
  display: flex;
}

.user-container {
  height: calc(100vh - 150px);
  padding: 1rem 2rem;

  app-users-management {
    display: block;
    height: calc(100% - 2rem);
  }
}

.team-container {
  height: calc(100vh - 150px - 2rem);
  width: 100%;
  padding: 1rem 1rem;
  overflow-y: overlay;
}

.team-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.search-add-container {
  margin: 1rem;
}

.team-card {
  margin: 1rem;
  flex: auto;
  min-width: 20rem;
  max-width: 100%;
  height: 17rem;
}