.body-container {
  display: flex;
}

.user-container {
  height: calc(100vh - 110px);
  padding: 1rem 2rem;

  app-users-management {
    display: block;
    height: calc(100% - 2rem);
  }
}

.team-container {
  height: calc(100vh - 110px - 2rem);
  width: 100%;
  padding: 1rem 1rem;
  overflow-y: overlay;
}

.team-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* Media query for smaller screens */
@media screen and (max-width: 1650px) {
  .team-card-list {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); /* Adjust columns for smaller screens */
  }
}

@media screen and (max-width: 1300px) {
  .team-card-list {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Adjust columns for smaller screens */
  }
}

.search-add-container {
  margin: 1rem;
}

.team-card {
  padding: 1rem;
  width: 100%;
  // max-width: 33.33%;
  box-sizing: border-box;
  height: 17rem;
}