<div class="body-container">
  <div class="user-container">
    <app-users-management></app-users-management>
  </div>
  <div class="team-container">

    <div class="search-add-container">
      <app-filter-add-toolbox (updateDisplayEvent)="updateTeamsToDisplay($event)" [searchTypes]="searchTypes" (openAddDialogEvent)="openAddUpdateTeamDialog()"></app-filter-add-toolbox>
    </div>

    <div class="team-card-list">
      <app-team-card class="team-card"
        *ngFor="let team of teamsToDisplay"
        [team]="team"
        (updateTeamEvent)="updateTeam($event)"
        (deleteTeamEvent)="deleteTeam($event)"
      ></app-team-card>
    </div>
  </div>
</div>
