<div id="users-management">
    <div id="search-user-container">
        <mat-form-field class="usernameField" subscriptSizing="dynamic">
            <input type="text" matInput [formControl]="userControl" [attr.placeholder]="'USERS.SEARCH_USER' | translate">
        </mat-form-field>
        <mat-icon>search</mat-icon>
        <mat-icon id="addUserBtn" style="cursor: pointer;" (click)="openAddUserDialog()">add</mat-icon>
    </div>
    
    <div id="list-users">

        <table mat-table [dataSource]="currentUsers">

            <!-- FirstName Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> Firstname </th>
                <td class="firstNameCell" mat-cell *matCellDef="let element" (mouseenter)="mouseEnterActionsButton(element)" (mouseleave)="mouseLeaveActionsButton(element)"> 
                    {{element.firstName}} 
                </td>
            </ng-container>
          
            <!-- LastName Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Lastname </th>
                <td mat-cell *matCellDef="let element" (mouseenter)="mouseEnterActionsButton(element)" (mouseleave)="mouseLeaveActionsButton(element)"> 
                    {{element.lastName}} 
                </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element" [attr.id]="'list-user-'+element.login" class="list-user" (mouseenter)="mouseEnterActionsButton(element)" (mouseleave)="mouseLeaveActionsButton(element)"> 
                    <div [attr.id]="'list-users-actions-'+element.login" class="list-users-actions">
                        <button (click)="openEditUserDialog(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="openDeleteUserDialog(element)">
                            <mat-icon class="delete-user-icon">delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
    
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>