#users-management {
  padding: 20px;
  width: 100%;
  min-width: 25rem;
  max-width: 25rem;
  height: 100%;
}

#list-users {
  overflow: overlay;
}

.usernameField {
  min-width: 14rem;
  max-width: 18rem;
  width: 75%;
}

.list-users-actions {
  visibility: hidden;
}

.list-users-actions button {
  background: none;
  border: none;
  cursor: pointer;
}

.delete-user-icon {
  color: red;
}

#search-user-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

table {
  background-color: transparent;
}

.invisible {
  visibility: hidden;
}