<mat-card id="users-management">
    <div id="search-user-container">
        <mat-form-field class="usernameField" subscriptSizing="dynamic">
            <mat-label>{{ "SEARCH.SEARCH_USER" | translate }}</mat-label>
            <input type="text" matInput [formControl]="userControl">
        </mat-form-field>
        <mat-icon class="upscale-on-hover" id="addUserBtn" (click)="openAddUserDialog()">add</mat-icon>
    </div>

    <div id="list-users">

        <table mat-table [dataSource]="currentUsers">
            <caption hidden>Utilisateurs</caption>

            <!-- FirstName Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef id="firstName"> Firstname </th>
                <td class="firstNameCell" mat-cell *matCellDef="let element" (mouseenter)="mouseEnterActionsButton(element)" (mouseleave)="mouseLeaveActionsButton(element)">
                    {{element.firstName}}
                </td>
            </ng-container>

            <!-- LastName Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef id="lastName"> Lastname </th>
                <td mat-cell *matCellDef="let element" (mouseenter)="mouseEnterActionsButton(element)" (mouseleave)="mouseLeaveActionsButton(element)">
                    {{element.lastName}}
                </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef id="actions"> Actions </th>
                <td mat-cell *matCellDef="let element" [attr.id]="'list-user-'+element.login" class="list-user" (mouseenter)="mouseEnterActionsButton(element)" (mouseleave)="mouseLeaveActionsButton(element)">
                    <div [attr.id]="'list-users-actions-'+element.login" class="list-users-actions">
                        <button id="{{'modify-'+element.login}}" [attr.class]="element.isAdmin() ? 'invisible' : ''" (click)="openEditUserDialog(element)">
                            <mat-icon class="upscale-on-hover">edit</mat-icon>
                        </button>
                        <button id="{{'delete-'+element.login}}" [attr.class]="element.isAdmin() ? 'invisible' : ''" (click)="openDeleteUserDialog(element)">
                            <mat-icon class="delete-user-icon upscale-on-hover">delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</mat-card>