<!-- Standard navbar Menu -->
<mat-toolbar>
  <mat-toolbar-row>

    <!-- Navigation Buttons of the Navbar -->
    <div id="barMenu">

        <a href="#" mat-button id="mainButton">xRL Online</a>

        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <div>
            <button mat-button class="menuButton" (click)="switchPage('/')">{{ 'MENU.HOME' | translate }}</button>

            <button mat-button class="menuButton" (click)="switchPage('/projects')">{{ 'MENU.PROJECTS' | translate }}</button>

            <button mat-button class="menuButton" (click)="switchPage('/readiness-levels')">{{ 'MENU.READINESS_LEVELS' | translate }}</button>
          
            <button mat-button  class="menuButton" [matMenuTriggerFor]="menu" *ngIf="currentUser?.login==='admin'" (click)="rotate = true">
                <mat-icon class="rotate-transition" [style.transform]="rotate ? '':'rotate(180deg)'">keyboard_arrow_down</mat-icon>
                {{ 'MENU.MANAGEMENT' | translate }}
            </button>
            <mat-menu #menu="matMenu" (closed)="rotate = false">
                <button mat-menu-item (click)="switchPage('/admin/readiness-levels')">{{ 'MENU.READINESS_LEVELS' | translate }}</button>
                <button mat-menu-item (click)="switchPage('/admin/teams')">{{ 'MENU.TEAMS' | translate }}</button>
                <button mat-menu-item (click)="switchPage('/admin/business-lines')">{{ 'MENU.BUSINESS_LINES' | translate }}</button>
            </mat-menu>
        </div>
        
    </div>

    <!-- Language and Login/Logout NavBar element -->
    <div class="rightNavBarElement">
      
        <app-language-menu></app-language-menu>

        <div *ngIf="currentUser===undefined">
          <button mat-flat-button id="loginBtn" color="primary" (click)="openLoginDialog()">{{ 'LOGIN.LOGIN' | translate }}</button>
        </div>

        <div *ngIf="currentUser!==undefined">
          <button mat-flat-button id="logoutBtn" color="primary" (click)="logout()">{{ 'LOGIN.LOGOUT' | translate }}</button>
        </div>

    </div>

  </mat-toolbar-row>
</mat-toolbar>

  <!-- Router Outlet -->
<div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>