.icon {
    padding: 0 14px;
  }

mat-toolbar-row {
    background-color: #2E4053;
    color: #f3f3f3;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}


#barMenu {
    display: flex;
    align-items: center;
}

#mainButton {
    font-family: Arial, Monospace;
    letter-spacing: -0.3px;
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-right: 2rem;
}

.menuButton {
    font-size: 1rem;
}

.rightNavBarElement {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.rightNavBarElement button {
    margin-left: 2rem;
}

.content {
    background-color: #eeeeee;
    height: calc(100vh - 110px);
    width: 100%;
}

.rotate-transition {
    transition: all 0.35s ease-in-out;
}