@import "src/styles.scss";

.close-button-login{
  // visibility: hidden;
  float: right;
  top:-24px;
  right:-24px;
}

.edit-readiness-level-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.readiness-level-list-container {
  width: 20em;
  background-color: whitesmoke;
  padding: 15px;
  margin: 0 1rem;
  border-radius: 5px;
  // border: 2px solid #969696;
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    line-height: 56px;
    border-bottom: solid 1px #969696;
  }
  font-size: 18px;
}

mat-stepper {
  padding-right: 4%;
  padding-left: 5%;
}

.readiness-level-container {
  width: 100%;
}

.readiness-level-list {
  height: 16em;
  overflow-y: auto;
}

.readiness-level-list-actions button {
  background: none;
  border: none;
}

.readiness-level-list tr {
  background-color: whitesmoke;
}

.dialog-head {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 0;
  }

  p {
    word-wrap: break-word;
    width: 100%;
  }
}

.dialog-content {
  display: flex;
  flex-direction: row;
  max-height: 30em;
}

.description-container {
  margin: 1rem 2rem 1rem 4rem;
  width: 100%;
}

.mat-mdc-dialog-content {
  max-height: 45em;
}

.no-level {
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 100%
}

.col {
  width: 50%;
  padding: 0 1rem;
}

.longDescription {
  max-height: 18rem;
  overflow-y: auto;
}

.rankComment mat-form-field {
  min-width: 85%;
  min-height: 9rem;
}

.comment-input {
  width: 100%;
  min-height: 9rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.button-container {
  margin: 1rem 0 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    margin: 0 1rem;
  }
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.tag-input {
  width: 13rem;
}

.dialog-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.showMore, .showLess {
  margin-left: 0.5rem;
  border-radius: 5px;
  color: blue;
  font-weight:bolder;
  word-spacing: 0.2px;
  font-size: 14px;
}

.showMore:hover, .showLess:hover {
  text-decoration: underline 2px;
  cursor: pointer;
}