.close-button{
    float: right;
    top:-24px;
    right:-24px;
}

#loginComponent {
    padding: 2rem;
    background-color: #F2F3F4;
    border-radius: 12px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    width: 25rem;
}

#loginBtn {
    margin-top: 1rem;
}

[hidden] {
    display: none !important;
  }
