mat-dialog-content {
    text-align: center;
}

#nameField, #descriptionField {
    width: 100%;
}

#team-business-line-form-fields {
    display: flex;
    gap: 10px;
}

mat-dialog-actions {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}