<mat-card>
  <mat-card-header>
    <mat-card-title>{{ team.name }}</mat-card-title>
    <div class="icons-container">
      <!-- <i class="fa-regular fa-pen-to-square fa-bounce"></i> -->
      <mat-icon (click)="openAddUpdateTeamDialog()">edit</mat-icon>
      <!-- <i class="fa-solid fa-trash fa-shake"></i> -->
      <mat-icon (click)="openDeleteTeamDialog()">delete</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="team.members">
      <!-- FirstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Firstname</th>
        <td class="firstNameCell" mat-cell *matCellDef="let element">
          {{ element.firstName }}
        </td>
      </ng-container>

      <!-- LastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Lastname</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
