mat-card {
  padding: 20px;
  height: 100%;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8em;
}

mat-card-header > .mat-card-title {
  font-weight: bold;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-card-content {
  overflow: auto;
}

mat-icon {
  cursor: pointer;
  margin: 0 0.4em;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

table {
  background-color: transparent;
}

.firstNameCell {
  width: 9rem;
}

.delete-icon {
  color: red;
}