@import "src/styles.scss";

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.edit-name-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  mat-form-field {
    width: 40%;
  }
}

.edit-members-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.users-without-members-container,
.team-members-container {
  width: 20em;
  padding: 15px;
  border-radius: 5px;
  background-color: #ECF0F1;
}

td {
  background-color: #ECF0F1;
}

.team-members-container h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  line-height: 56px;
  border-bottom: solid 1px #969696;
}

.users-list {
  height: 22em;
  overflow-y: auto;
}

.search-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-user-container mat-form-field {
  width: 100%;
  padding-right: 5px;
}

.search-user-container mat-icon {
  height: 25px;
  width: 25px;
  font-size: 25px;
  padding: 5px;
}

.user-list-actions button {
  background: none;
  border: none;
}

mat-dialog-actions {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.mat-column-firstName, .mat-column-lastName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 35% !important;
  min-width: 7rem !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  width: 4rem !important;
}