/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100vw;
}
body {
  margin: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$color-primary: #3f51b5;
$color-primary-dark: #2e4053;
$color-primary-light: rgba(49, 186, 244, 0.2);



mat-icon {
  cursor: pointer;
}

.upscale-on-hover:hover {
  transform: scale(1.2);
}

// Global definition for ApexCharts toolbar
.apexcharts-toolbar {
  flex-direction: row-reverse !important;
}

// Global Scrollbar
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: $color-primary-dark;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color-primary;
}


.mat-mdc-paginator-range-label {
  display: none!important;
}

mat-tab-group {
  .mat-mdc-tab-body-wrapper {
      height: 100%;
  }
}