.no-data-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.linear-graph-component {
    width: 100%;
    height: 100%;
    position: relative;
}