.footer {
    background-color: #D9D9D9;
    // position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.footerRow{
    display: flex;
}

.footerRow div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 6rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 1rem;
}