<div class="footer">
    <div class="footerRow">
        <div id="ThalesDiv">
        <p>Thales</p>
        <p>{{ "FOOTER.ALL_RIGHTS_RESERVED" | translate}}</p>
        </div>
        <div id="KTHDiv">
            <p>{{ "FOOTER.KTH_LICENCE1" | translate}} <br> {{ "FOOTER.KTH_LICENCE2" | translate}}</p>
            <img src="assets/img/by-nc-sa.png" alt="">
        </div>
    </div>
    <!-- <div class="MadeBy">
        <p>This work was done by four <a href="http://www.eseo.fr">ESEO</a> students :</p> 
        <ul>
            <li>Basile LEBAUDY</li>
            <li>Clément CARDOT</li>
            <li>Louis LEGENDRE</li>
            <li>Maxence LE DU</li>
        </ul>
    </div> -->
</div>
