<div class="container" id="{{'project-card-'+project.id}}">
    <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
      <div class="front">
        <div class="content">
            <div class="card-header">

                <div class="project-hover-buttons">
                    <button mat-raised-button (click)="toggle()">{{"PROJECT.DETAILS_TITLE" | translate}}</button>
                </div>
    
                <h2 (click)="this.router.navigateByUrl('/project/' + project.id)">{{project.name}}</h2>
    
                <div class="project-actions-buttons project-hover-buttons">
                    <mat-icon id="modify" class="upscale-on-hover" (click)="openUpdateDialog()" *ngIf="this.currentUser && (this.currentUser.isAdmin() || this.isUserLinkedToProject())">edit</mat-icon>
                    <mat-icon id="delete" class="upscale-on-hover" (click)="openDeleteDialog()" *ngIf="this.currentUser && this.currentUser.isAdmin()">delete</mat-icon>
                </div>
    
            </div>
    
            <div class="project-item-content" (click)="this.router.navigateByUrl('/project/' + project.id)">
    
                <!-- Team & BL Names -->
                <div class="teamBL">
                    <p>{{project.team.name}}</p>
                    <p>{{project.businessLine.name}}</p>
                </div>
    
                <!-- last xRL Graph -->
                <div style="flex: 1; height: 100%; width: 60%;">
                    <app-xrl-graph [assessment]="project.getLastAssessment()"></app-xrl-graph>
                </div>
    
                <!-- last xRL Tag & Date -->
                <div class="tagDate">
                    <p>{{project.getLastAssessment()?.tag ?? ""}}</p>
                    <p>{{getDateTextField()}}</p>
                </div>
    
            </div> 
        </div>     
      </div>
      <div class="back">
        <div class="content">
            <div class="card-header">

                <div class="project-hover-buttons">
                    <button mat-raised-button (click)="toggle()">{{"ACTION.BACK" | translate}}</button>
                </div>
    
                <h2 (click)="this.router.navigateByUrl('/project/' + project.id)">{{project.name}}</h2>
    
                <div class="project-actions-buttons project-hover-buttons" *ngIf="this.currentUser && this.currentUser.isAdmin()">
                    <mat-icon id="modify" class="upscale-on-hover" style="visibility: hidden;">edit</mat-icon>
                    <mat-icon id="delete" class="upscale-on-hover" style="visibility: hidden;">delete</mat-icon>
                </div>
    
            </div>
            
            <div class="project-description">
                <p>{{getDescription()}}</p>
            </div>
        </div>
      </div>
    </div>
</div>