.rl-dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    margin: 0;
  }
}

#delete-rl-icon {
  color: red;
  cursor: pointer;
  margin-top: 1em;
  margin-right: 1em;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.mdc-dialog__content {
  padding-top: 0;
}

.edit-name-container,
.edit-description-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.edit-description-container mat-form-field {
  width: 100%;
  min-width: 60em;
}

table mat-form-field {
  width: 100%;
}

.mat-column-shortDescription {
  width: 20%;
}

.mat-column-longDescription {
  width: 70%;
}

.mat-column-level {
  text-align: center;
  font-size: large;
  width: 2%;
}

mat-dialog-actions {
  display: flex;
  gap: 2rem;
  margin: 0 1rem 0 1rem;
  justify-content: center;
}

#name-formfield {
  min-width: 15rem;
}